{% extends 'base.html' %}

{% block title %}Login - Lucy's Catering Hub{% endblock %}

{% block content %}


<div class="form-page">
  <div class="form-card">

    <h2 class="form-title">Login</h2>

    <form method="post" class="form-fields">
      {% csrf_token %}

      <p>
        <label>Username</label>
        {{ form.username }}
      </p>

      <p>
        <label>Password</label>
        {{ form.password }}
      </p>

      <button type="submit" class="btn-submit">Login</button>

      <p class="form-switch-text">
        Don't have an account?
        <a href="{% url 'register' %}">Register here</a>
      </p>

    </form>

  </div>
</div>
{% endblock %}