{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Lucy's Food Hub{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body style="display:flex; flex-direction:column; min-height:100vh;">



    <!-- NAVBAR -->
    <nav class="navbar">

        <!-- LOGO -->
       <a href="/" class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Lucy's Food Hub Logo">
       </a>

        <!-- NAV LINKS -->
        <div class="nav-links" id="navLinks">

          <a href="/">Home</a>
          <a href="{% url 'product_list' %}">Shop</a>
          <a href="#">Categories</a>
          <a href="#">Contact</a>
          <a href="#">About</a>
 
        </div>

        <!-- RIGHT SIDE -->
        <div class="nav-icons">

            <!-- SEARCH ICON -->
           <span>🔍</span>

            <!-- USER/LOGIN -->
              <a href="#">👤</a>

             
            <!-- CART ICON -->
           <span>🛒</span>

            <!-- HAMBURGER -->
            <div class="hamburger" id="hamburger">
               ☰
            </div>

        </div>

    </nav>
    
    <!-- PAGE CONTENT GOES HERE -->
    <main style="flex:1;">
    {% block content %}
    {% endblock %}
    </main>

    <footer>
         <p>Lucy's Food Hub &copy; 2026</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>